<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
  <style type="text/css">
  td
  {
      padding:0 15px 0 15px;
  }
  </style>


<body>
    <p>Login: {{username}}</p>
    <p>
    <p>
    <h1>Artist Information</h1>

  <p><b>Artist: </b></p><p></p>
  <p></p>
    <div>
      <table>
      {% for artistfirstName, artistlastName, DOB, artistid in artistinfoList %}
        <tr>
          <td><!-- <a href="movieinfo?movid={{movid}}"> -->{{artistfirstName}}</td><td>{{artistlastName}}</td><td>{{ DOB }}</td><td>{{ artistid }}</td>
        </tr>
      {% endfor %}
      </table>
     </div>

     <div>
      <!-- <table> -->
        <p><b>Movies They Are In: </b></p><p></p>

      {% for title, movid in artistinfoList1 %}
        <tr>
          <td>{{title}}</td>
        </tr>
      {% endfor %}
      </table>
    </div></div>