<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <p>Login: {{username}}</p>
    <p>
    <p>
    <h1>Browse Away!</h1>
  
  
  <p><b>Movies:</b></p><p></p>
  <p></p>

  <!-- <form method="POST" action="/browse"> --><input type="submit" name="sort" value="Sort By Title"><input type="submit" name="sort" value="Sort By Year"><input type="submit" name="sort" value="Sort By Genre"></form> 
  
  <div>
      <table>

      {% for title, year, genreName in movieList %}
        <tr>
          <td>{{ title }}</td><td>{{ year }}</td><td>{{ genreName }}</td> 
        </tr>
      {% endfor %}

      </table>
  </div>
  


</body>


</html>
