<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <p>Login: {{username}}</p>
    <p>
    <p>
    <h1>Browse Away!</h1>
  
  
  <p><b>Movies:</b></p><p></p>
  <p></p>


   <form method="POST" action="/browse"> <input type="submit" name="sort" value="Sort By Title"><input type="submit" name="sort" value="Sort By Year"><input type="submit" name="sort" value="Sort By Genre"></form>

  <div>
      <table>
      {% for title, year, genreName, movid in movieList %}
        <tr>
          <td><a href="movieinfo?movid={{movid}}">{{title}}</a></td><td>{{ year }}</td><td>{{ genreName }}</td>
        </tr>
      {% endfor %}
      </table>

      <table>
      {% for title, year, genreName, movid in movieList1 %}
        <tr>
          <td><a href="movieinfo?movid={{movid}}">{{title}}</a></td><td>{{ year }}</td><td>{{ genreName }}</td>
        </tr>
      {% endfor %}
      </table>

      <table>
      {% for year, title, genreName, movid in movieList2 %}
        <tr>
          </td><td>{{ year }}</td><td><a href="movieinfo?movid={{movid}}">{{title}}</a><td>{{ genreName }}</td>
          <input type="hidden" name="movid" value="movieid"/>
        </tr>
      {% endfor %}
      </table>    

      <table>
      {% for genreName, title, year, movid in movieList3 %}
        <tr>
          <td>{{ genreName }}</td><td><a href="movieinfo?movid={{movid}}">{{title}}</a></td><td>{{ year }}</td>
          <input type="hidden" name="movid" value="movieid"/>
        </tr>
      {% endfor %}
      </table>

  </div>
  
  <p><p><p>
  <p><a href="/home">Back to home.</a></p>
  
  <p> <form method="POST" action="/logout"><input type="submit" value="Logout"></p></form>
   

</body>


</html>
