<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <p>Login: {{username}}</p>
    <p>
    <p>
    <h1>Movie Information</h1>

  <p><b>Movie: </b></p><p></p>
  <p></p>

    <div>
      <table>

      {% for title, year, length, imdbrating in movieinfoList %}
        <tr>
          <td><a href="movieinfo?movid={{movid}}">{{title}}</a></td><td>{{ year }}</td><td>{{ length }}</td><td>{{ imdbrating }}</td>
        </tr>
      {% endfor %}

      </table>

  </div>