<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <p>Login: {{username}}</p>
    <p>
    <p>
    <h1>Here are movies you searched!</h1>
  
  
  <p><b>Search Movie History:</b></p><p></p>
  
  <div>
      <table>

      {% for title, movTimeSearch, movid in searchmovList %}
        <tr>
          <td><a href="movieinfo?movid={{movid}}">{{title}}</a></td><td>:</td><td>{{ movTimeSearch }}</td>
        </tr>
      {% endfor %}

      </table>
  </div>

  <h1>Here are artists you searched!</h1>

  <p><b>Search Artist History:</b></p><p></p>

  <div>
      <table>

      {% for firstNameandlastName, artTimeSearch, artistid in searchartList %}
        <tr>
          <td><a href="artistinfo?artistid={{artistid}}">{{firstNameandlastName}}</a></td><td>:</td><td>{{ artTimeSearch }}</td>
        </tr>
      {% endfor %}

      </table>
  </div>


</body>


</html>
