<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
    <h1>Search: "{{originput}}"</h1>
    
    <p><b> Movies </b><p>
    <div>
        <table>    <!-- this is to format the table nicely -->
            {% for row in movies %}
            <tr>
                <td>{{ row[0] }}</td>
                <input type="hidden" name="movid" value="{{row[1]}}">
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <p><b> Artists </b><p>
    <div>
        <table>    <!-- this is to format the table nicely -->
            {% for row in artists %}
            <tr>
                <td>{{ row[0] }} {{ row[1] }}</td>
                <input type="hidden" name="artid" value="{{row[2]}}">
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <p><b> Genres </b><p>
    <div>
        <table>    <!-- this is to format the table nicely -->
            {% for row in genres %}
            <tr>
                <td>{{ row[0] }}</td>
                <input type="hidden" name="genid" value="{{row[1]}}">
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <p><b> Awards </b><p>
    <div>
        <table>    <!-- this is to format the table nicely -->
            {% for row in awards %}
            <tr>
                <td>{{ row[0] }}, {{ row[1] }}</td>
                <input type="hidden" name="exacc" value="{{row[2]}}">
            </tr>
            {% endfor %}
        </table>
    </div>
  
  <div>
      {% for row in accounts %}
      <form method="POST" action="/addstreamacc"><div>{{row}} <input type="submit" value="Edit"></div></form>
      {% endfor %}
  </div>
  


</body>


</html>
